// symbol - [key]
// network - networks[key]
// chain - network.id

// era eth
const SYMBOL = "ETH";
const NETWORK = "zkSync Era";
const CHAIN = "ETH-zkSync Era";

// linea eth
const SYMBOL = "ETH";
const NETWORK = "Linea";
const CHAIN = "ETH-Linea";

// polygon matic
const SYMBOL = "MATIC";
const NETWORK = "MATIC";
const CHAIN = "MATIC-Polygon";

// aptos apt
const SYMBOL = "APT";
const NETWORK = "APT";
const CHAIN = "APT-Aptos";
